.btn {
  padding: 10px 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  border-radius: 6px;

  &[disabled] {
    background-color: #bbbbbb;
    color: #e6e6e6;

    &:hover {
      background-color: #bbbbbb;
      color: #e6e6e6;
    }
  }
}

.btn-primary {
    color: #fff;
    background-color: $base-color;
    border-color: $base-color;

    &:hover, &:focus {
      color: #ffffff;
      background-color: lighten($base-color, 3%);
      border-color: lighten($base-color, 3%);
    }
}

.btn-ghost {
  color: $base-color;
  background-color: transparent;
  border-color: $base-color;

  &:hover, &:focus {
    background-color: $base-color;
    color: #fff;
  }
}

.btn-danger {
  color: $danger-color;
  background-color: transparent;
  border-color: $danger-color;

  &:hover {
    border-color: $danger-color;
    color: #ffffff;
    background-color: $danger-color;
  }
}
