
  .status {
    display: inline;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    font-size: 11px;
    padding: 4px 10px;
    border-color: #8e8e8e;
    color: #8e8e8e;

    &.disabled {
      color: #b5b5b5;
      border-color: #b5b5b5;
    }

    &.green {
      color: $green;
      border-color: $green;
    }
    &.purple {
      color: $base-color;
      border-color: $base-color;
    }
    &.red {
      color: $danger-color;
      border-color: $danger-color;
    }
  }
