.panel-row {
  margin: 10px auto;
  height: 50px;
  width: 90%;
  background-color: #ffffff;
  display: block;
  padding: 15px 10px 15px 10px;
  border-radius: 4px;
  transition: opacity, height 500ms ease;
  position: relative;
  overflow: hidden;

  .row-1 {
    margin-bottom: 6px;
  }

  .col-1,
  .col-2 {
    line-height: 1.5;
    min-height: 1px;
  }

  .col-1 {
    position: relative;
    font-size: 12px;
    font-weight: bold;

    .aired-by {
      float: left;
      font-size: 9px;
      line-height: 1;
      color: $base-color;
      padding: 1px 5px;
    }
  }

  .col-2 {
    position: relative;
    font-weight: 700;
    padding-right: 65px;
    padding-left: 0;

    .title {
      position: relative;
      top: -7px;
      font-size: 11px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;

      > small {
        font-size: 65%;
      }
    }
  }

  .dripicons-preview, .dripicons-plus {
    height: 25px;
    width: 25px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
    color: $base-color;
    opacity: 0.8;
    transition: opacity, transform 200ms ease;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
      color: $base-color;
    }
  }

  .dripicons-plus {
    font-size: 24px;
    top: 12px;
    right: 35px;
    transform-origin: 50% 50%;
    &.open {
      transform: rotate(45deg);
    }
  }

  .status {
    width: 100%;
    background-color: transparent;

    &:hover {
      border-color: $base-color;
      color: #fff;
      background-color: $base-color;
    }

    &.active {
      border-color: $base-color;
      color: #fff;
      background-color: $base-color;
    }
  }

  &.disabled {
    opacity: 0.7;
  }

  &.open {
    height: 90px;
  }
}
