.panel-row {
  margin: 10px auto;
  height: 50px;
  width: 90%;
  background-color: #ffffff;
  display: block;
  padding: 15px 10px;
  border-radius: 4px;
  transition: opacity 500ms ease;

  .col-25,
  .col-60,
  .col-15 {
    float: left;
    line-height: 1.5;
    min-height: 1px;
  }

  .col-25 {
    width: 25%;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    transition: opacity 400ms ease;

    .aired-by {
      float: left;
      font-size: 9px;
      line-height: 1;
      color: $base-color;
      padding: 4px 5px;
    }
  }

  .col-60 {
    position: relative;
    width: 60%;
    font-weight: 700;

    .title {
      position: absolute;
      top: -7px;
      font-size: 11px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;

      > small {
        font-size: 65%;
      }
    }
  }

  .col-15 {
    width: 15%;
    text-align: right;
    font-size: 20px;

    .dripicons-preview {
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 200ms ease;

      &:hover {
        opacity: 1;
      }

      &.active {
        opacity: 1;
        color: $base-color;
      }
    }
  }

  &.disabled {
    opacity: 0.8;
  }
}
