.navigation-bar {
  position: relative;
  background-color: $navbar-colour;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1200;
  padding-top: 50px;
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.6);

  .brand {
    float: left;
    font-weight: bold;
    line-height: 56px;
    font-size: 20px;
    color: $base-color;
  }

  .links {
    float: right;
    margin: 0;
    padding: 0;
    display: block;

    &.auth {
      position: absolute;
      top: 0;
      right: 0;
      a {
        font-size: 10px;
      }
    }

    li {
      display: inline-block;

      a {
        display: block;
        position: relative;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        padding: 20px 40px;
        font-size: 12px;
        float: left;
        letter-spacing: 1px;

        @media (max-width: 991px) {
          width: 100%;
          text-align: left;
        }
      }

      span {
        font-size: 20px;
        position: absolute;
        left: 13px;
        top: 0;
        height: 100%;
        line-height: 3.1;
      }

      &.active {
        a {
          cursor: default;
          color: $base-color;

          span {
            color: $base-color;
          }
        }
      }

      /*tablet*/
      @media (max-width: 991px) {
        display: block;
        float: left;
        width: 100%;
      }
    }
  }

  transition: all 400ms ease;

  &.open {
    transform: translate(0, 0);
  }

  @media (max-width: 991px) {
    height: 100%;
    width: 40%;
    transform: translate(-100%, 0);

    .container {
      width: auto;
    }
  }

  @media (max-width: 767px) {
    width: 50%;
  }
  @media (max-width: 480px) {
    width: 80%;
  }
}

.logout-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1300;
  font-size: 12px;
  padding: 10px;
  color: $base-color;

  &:hover {
    color: $base-color;
  }

  @media (max-width: 991px) {
    right: auto;
    left: 0;
  }
}

.navigation-underlay {
  top: 0;
  right: 0;
  z-index: 1100;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translate(100%, 0);

  &:hover {
    cursor: pointer;
  }
  &.open {
    transform: translate(0%, 0);
  }

  @media (min-width: 992px) {
    &.open {
      transform: translate(100%, 0);
    }
  }
}

.navigation-button {
  padding: 10px;
  z-index: 2000;
  top: 15px;
  right: 15px;
  position: fixed;
  border: none;
  background-color: transparentize($base-color, 0.7);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;

  &:hover {
    background-color: $base-color;
    color: #f0f0f0;
  }

  @media (min-width: 992px) {
    display: none;
  }
  @media (max-width: 480px) {
    right: auto;
    top: 10px;
    left: 15px;
  }
}

.navigation-bar {
  .menu-container {
    position: relative;
    &.open {
      > .menu {
        display: block;
      }
    }
  }

  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: $navbar-colour;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    li {
      display: block;
    }
  }
}
